.add-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
}
.add-content {
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 1rem;
}
.add-header {
  text-align: start;
  margin-bottom: 2rem;
}
.add-container {
  gap: 1.5rem;
}

.box {
  border: 1px solid;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 430px;
}

.box:hover {
  border: 1px solid hsl(243, 100%, 62%);
  background-color: hsla(206, 94%, 87%, 0.133);
}

.box input[type="checkbox"]:checked {
  background-color: hsl(243, 100%, 62%);
  cursor: pointer;
}

.description-add {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}
.price {
  color: hsl(243, 100%, 62%);
  margin-left: auto;
}

.description-add label {
  color: hsl(213, 96%, 18%);
  font-weight: 700;
  user-select: none;
}
.description-add small {
  color: hsl(231, 11%, 63%);
  font-weight: 700;
}
.btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 768px) {
  .add-content {
    margin: auto;
  }
  .add-header {
    width: 85%;
    margin-left: 2rem;
  }
  .box {
    width: 85%;
    margin-left: 2rem;
  }
  .btns {
    width: 85%;
    margin-left: 2rem;
    margin-top: 1rem;
  }
}
