<div class="slidar-container">
  <div class="step">
    <div class="circle1 active">1</div>
    <div class="step-container">
      <span>Step 1</span>
      <b>Your info</b>
    </div>
  </div>
  <div class="step">
    <div class="circle1">2</div>
    <div class="step-container">
      <span>Step 2</span>
      <b>Select plan</b>
    </div>
  </div>
  <div class="step">
    <div class="circle1">1</div>
    <div class="step-container">
      <span>Step 1</span>
      <b>Your info</b>
    </div>
  </div>
  <div class="step">
    <div class="circle1">3</div>
    <div class="step-container">
      <span>Step 3</span>
      <b>Add-ons</b>
    </div>
  </div>
  <div class="step">
    <div class="circle1">4</div>
    <div class="step-container">
      <span>Step 4</span>
      <b>Summary</b>
    </div>
  </div>
</div>
