/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: hsl(217, 100%, 97%);
  display: flex;
  align-items: center;
  justify-content: center;
}
